<!DOCTYPE html>
<html lang="en">
<head>
    <title>
            PayLaterService
    </title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav-div">
        <nav>
            <ul>
                <a href="/"><li>Home</li></a>
                <a href="/m_login"><li>Merchant</li></a>
                <a href="/u_login"><li>Users</li></a>
                <a href="/m_login"><li>Management</li></a>
                
            </ul>
        </nav>
    </div>

   
        <div class="main-div">
                <h1>Pay Later Service</h1>
        </div>

    <div class="footer-div">
        <p>&copy; 2024||All Rights are reserved || Developed by  team 9</p>
    </div>
</body>
</html>
