<!DOCTYPE html>
<html lang="en">
<head>
    <title>Items</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="nav-div">
        <nav>
            <ul>
                <a href="/"><li>Home</li></a>
                <a href="/m_login"><li>Merchant</li></a>
                <a href="/u_login"><li>Users</li></a>
                <a href="/m_login"><li>Management</li></a>
                
            </ul>
        </nav>
    </div>
    <div class="items-div">
        <form action="/items" method="post">
            <input type="text" required placeholder="Item Name" required name="i_name">
            <input type="number" required placeholder="Item Cost" required name="i_cost">
            <button type="submit">Add Item</button>
        </form>
    </div>

    <div class="footer-div">
        <p>&copy; 2024||All Rights are reserved || Developed by  team 9</p>
    </div>

</body>
</html>