<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="reg-div"></div>
        <form action="register">
            <input type="text" name="name" placeholder="name" required name="u_name">
            <input type="email" name="email" placeholder="email" required name="u_email">
            <input type="number" name="num" placeholder="number" required name="u_num">
            <input type="password" name="pwd" placeholder="password" required name="u_pwd">
            <input type="number" name="percentage" placeholder="percentage" required name="u_percent">
            <button type="submit">Submit</button>
        </form>
    </div>
    
</body>
</html>