<!DOCTYPE html>
<html lang="en">
<head>
    <title>Items</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="nav-div">
        <nav>
            <ul>
                <a href="/"><li>Home</li></a>
                <a href="/m_login"><li>Merchant</li></a>
                <a href="/u_login"><li>Users</li></a>
                <a href="/m_login"><li>Management</li></a>
                
            </ul>
        </nav>
    </div>
    <div class="merchant-login">
        <form action="/mng_login" method="post">
            <input type="text" placeholder="name" required name="u_name">
            <input type="email"  placeholder="email" required name="u_email">
            <input type="number"  placeholder="phone_num" required name="phone_num">
            <input type="password" placeholder="password" required name="u_pwd">
            <button type="submit">Submit</button>
        </form>
        </div>
 <div class="merchant-login">  <!--change class-name-->
    <form action="mng_login", method="post">  
      <input type="email" placeholder="email" required name="u_email">
      <input type="password" placeholder="password" required name="u_pwd">
      <button type="submit">Login</button>
    </form>
  </div>


<div class="footer-div">
    <p>&copy; 2024||All Rights are reserved || Developed by  team 9</p>
</div>

</body>
</html>