<!DOCTYPE html>
<html lang="en">
<head>
    <title>
       User-Login
    </title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="nav-div">
        <nav>
            <ul>
                <a href="/"><li>Home</li></a>
                <a href="/m_login"><li>Merchant</li></a>
                <a href="/u_login"><li>Users</li></a>
                <a href="/m_login"><li>Management</li></a>
                
            </ul>
        </nav>
    </div>
    
     <div class="user-login">
        <form action="" method="post"> 
            <input type="email" placeholder="email" required name="u_email">
            <input type="password" placeholder="password" required name="u_pwd">
            <button type="submit">Login</button>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>